*{
    margin:0px;
    padding:0px;
}
body {
    font-family: 'Quattrocento Sans', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size:1.3em;
    color:rgba(0,0,0,0.8);
    padding:20px;
    margin:20px;
    background-color:white;
}

header{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
